body {
	margin: 0;
}

/* ========= SECTION 0 ========= */
#section_0 {
	background-image: url("dark_wall.png");
	text-align: center;
	padding: 50px 0;
	border-bottom: 4px solid #aaa;
}

#nav_bar {
	text-align: center;
	background-color: #ECECEC;
	border-bottom: 4px solid #aaa;
}

#nav_bar > ul {
	margin: 0;
}

.list_item {
	display         : inline;
	list-style-type : none;
	padding         : 0 5% 0 0;
	font-family     : 'Arvo', Georgia, Times, serif;
	font-size       : 25px;
	line-height     : 70px;
}

#welcome {
	display: inline-block;
	font-family: 'Lora', Georgia, Times, serif;
	font-size: 59px;
	color: #ECECEC;;
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 5px solid;
	margin-bottom: 15px;
}

#welcome_caption {
	font-family: 'Lora', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #fff;
	margin: 0 auto;
	width: 66%;
	line-height: 25px;
	padding-bottom:20px;
}

#profile { 
	background-image: url("profile.jpg");
	background-position: 70% 0;
	background-size: cover;
	height: 320px;
	width: 320px;
	border-radius: 160px;
	margin: 10px auto;
	transition: 0.3s ease-in-out;
}

#profile:hover {
	-webkit-filter: grayscale(50%);
	box-shadow: inset 0 0 0 8px #9895EF;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slide_down_animation {
  animation-name: slideInDown;
  animation-duration: 1s;
}

/* ========= SECTION 1 ========= */
#section_1 {
	background-image: url("ice_age.png");
	text-align: center;
	padding: 50px 0;
}

#projects_header {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 59px;
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.project {
	margin: 10px;
	display:inline-block;
	height: 300px;
	width: 300px;
	border-radius: 4px;
	background-color: #888;
}

.project_title {
	font-family: 'Lora', Georgia, Times, serif;
	font-size: 25px;
	color: #ECECEC;
	margin: 0;
}

#hackroulette {
	background-image: url("hackroulette.png");
	background-size: contain;
}

#hackroulette_title {
	opacity: 0;
	transition: 1s ease-in-out;
}

#hackroulette:hover > #hackroulette_title {
	opacity: 1;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}