/*  ===============================================
	================== Helpers ====================
	========= Commonly used CSS Classes  ==========
	===============================================  */
body {
	margin: 0;
	background-color: #222;
}
.small-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
  .small-container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .small-container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .small-container {
    width: 1000px;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.description {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}
.large-header {
	font-size: 70px;
}
@media (min-width: 1000px) {
	.description {
		font-size: 22px;
		font-weight: 300;
		line-height: 28px;
	}
	.large-header {
		font-size: 90px;
	}
}
@media (max-width: 700px) {
	.description {
		font-size: 18px;
	}
	.large-header {
		font-size: 70px;
	}
}
.link {
	color: #BBDBFD;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px solid #D0E7FF;
}
.black-overlay {
	background-color: rgba(38,38,38,0.3);
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.light-red {
	color: #FF9595
}
.extra-light-red {
	color: #FFE2E8;
}
.yellow {
	color: #FFF2B1;;
}
.black {
	color: #000;
}
.green {
	color: #8FD187;
}
.palette-white {
	color: #fff;
}
.palette-green {
	color: #c5d5cb;
}
.palette-brown {
	color: #e3e0cf;
}
.palette-grey {
	color: #9fa8a3;
}
.opaque {
	opacity: 1 !important;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
	padding-top: 10px;
}
/* Prevents text selection when user clicks rapidly on an icon, button, etc. */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*  ============================= 
	======== Animations ========= 
	=============================  */
.firefly {
	position: absolute;
	pointer-events: none;
	z-index: 2;
}
.typed-cursor {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 80px;
    font-weight: 300;
    opacity: 1;
    -webkit-animation: blink 1.2s infinite;
    -moz-animation: blink 1.2s infinite;
    animation: blink 1.2s infinite;
}
.animation-blink-out {
	-webkit-animation: blink 5s forwards;
	-moz-animation: blink 5s forwards;
	animation: blink 5s forwards;
}
@keyframes blink{
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes blink{
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}
@-moz-keyframes blink{
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}
.animated-fast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.slide-down-animation {
  animation: slideInDown 2s forwards;
}
/*@keyframes grow {
	from {
		background: #ddd;
		box-shadow: 0 0 50px gold,0 0 150px gold, inset 0 20px 20px 40px whitesmoke, inset 30px 0 35px 50px ivory;
	}
	100% {

	}
}
*/
@keyframes fade {
	from {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}
.fade-in-animation {
	animation: fade 1s forwards;
}
.fade-out-animation {
	/* Play the fade animation for 5s in reverse, "forwards" is the animation-fill-mode which will keep the opacity at 0 after it fades out*/
	animation: fade 5s reverse forwards;
}
@keyframes grow {
	from {
		height: 5em;
		width: 5em;
		line-height: 5em;
	}
	100% {
		height: 6em;
		width: 6em;
		line-height: 6em;
	}
}
/*@keyframes blink {
	from {
		background: #ddd;
		box-shadow: 0 0 50px gold,0 0 150px gold, inset 0 20px 20px 40px whitesmoke, inset 30px 0 35px 50px ivory;
	}
	100% {
		background: #ddd;
	}
}*/
@keyframes rotate {
	from {
		
	}
	100% {
		transform:rotate(360deg);
	}
}
.grow-animation {
  animation-name: grow;
  animation-duration: 1s;
}
/*  ============================= 
	========== Modals ===========
	=============================  */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.modal {
	position: fixed;
	width: 80vw;
	background: #fff;
	padding: 15px 30px;
	margin: 0 auto;
	border: 1px solid #444;
	border-radius: 4px;
	left: 0;
	right: 0;
	top: 10vh;
	z-index: 2;
}
.close-modal {
	position: absolute;
    right: 10px;
    top: 10px;
    color: #4E4E4E;
}
.close-modal:hover {
	color: #8FD187;
	cursor: pointer;
}
.modal-title {
	text-align: center;
	font-family: 'Arvo', sans-serif;
	font-size: 40px;
	color: #696969;
	margin: 0;
	width: 100%;
}
.modal-project-award {
	font-size: 18px;
	position: absolute;
	color: #8FD187;
}
.modal-description {
	font-family: 'Lato', 'Arvo', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #444;
	margin-top: 10px;
}
.modal-thumbnail-wrapper {
	position: relative;
	height: 300px;
	width: 60vw;
	margin: 0 auto;
}
.modal-thumbnail {
	position: absolute;
	height: 300px;
	width: 60vw;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 10px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.modal-thumbnail-wrapper-tall {
	height: 30vh;
}
.modal-thumbnail-tall {
	height: 30vh;
    width: 20vw;
}
.modal-image-arrow {
	position: absolute;
	top: 55%;
	font-size: 26px;
    color: #2D2D2D;
}
.modal-image-arrow:hover {
	cursor: pointer;
	color: #8FD187;
}
.modal-image-arrow-left {
	left: 5%;
}
.modal-image-arrow-right {
	right: 5%;
}
.modal-image-control-wrapper {
	text-align: center;
}
.modal-image-control {
	margin-top: 10px;
	margin-right: 15px;
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #A2A2A2;
	border-radius: 50%;
}
.modal-image-control:hover {
	background-color: #A2A2A2;
	cursor: pointer;
}
.modal-image-control-selected {
	background-color: #A2A2A2;
}
.hackroulette-thumbnail-1 {
	background: url("../images/projects/hackroulette-thumb1.png") no-repeat center center;
	background-size: cover;
}
.hackroulette-thumbnail-2 {
	background: url("../images/projects/hackroulette-thumb2.png") no-repeat center center;
	background-size: cover;
}
#python-compiler-thumbnail {
	border: 1px solid #CACACA;
}
.python-compiler-thumbnail-1 {
	background: url("../images/projects/python-compiler-thumb1.png") no-repeat;
	background-size: cover;
}
.python-compiler-thumbnail-2 {
	background: url("../images/projects/python-compiler-thumb2.png") no-repeat;
	background-size: cover;
}
.python-compiler-thumbnail-3 {
	background: url("../images/projects/python-compiler-thumb3.png") no-repeat;
	background-size: cover;
}
.python-compiler-thumbnail-4 {
	background: url("../images/projects/python-compiler-thumb4.png") no-repeat;
	background-size: cover;
}
.noflix-thumbnail-1 {
	background: url("../images/projects/noflix-thumb1.png") no-repeat;
	background-size: cover;
}
.noflix-thumbnail-2 {
	background: url("../images/projects/noflix-thumb2.jpeg") no-repeat;
	background-size: cover;
}
.filespace-thumbnail-1 {
	background: url("../images/projects/filespace-thumb1.png") no-repeat;
	background-size: cover;
	border: 1px solid #CACACA;
}
.filespace-thumbnail-2 {
	background: url("../images/projects/filespace-thumb2.png") no-repeat;
	background-size: cover;
	border: 1px solid #CACACA;
}
.filespace-thumbnail-3 {
	background: url("../images/projects/filespace-thumb3.png") no-repeat;
	background-size: cover;
	border: 1px solid #CACACA;
}
.indoor-navigator-thumbnail-1 {
	background: url("../images/projects/indoor-navigator-thumb1.png") no-repeat;
	background-size: cover;
}
.indoor-navigator-thumbnail-2 {
	background: url("../images/projects/indoor-navigator-thumb2.png") no-repeat;
	background-size: cover;
	width: 50vw;
}
.modal-footer {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}
.modal-button {
	font-weight: bold;
	font-size: 18px;
	font-family: Lato, Arial, sans-serif;
	padding: 10px 18px;
	margin-left: 5px;
	margin-right: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
}
.modal-button:hover {
	cursor: pointer;
}
.modal-button-github {
	color: #f4f4f4;
	background: #8fd187;
	border: solid 0 #e3edf4;
	border-bottom: 2px solid #7bc872;
}
.modal-button-github:hover {
	background: #6bc060;
}
.modal-button-website {
	color: #f4f4f4;
	background: #4aaaa5;
	border: solid 0 #e3edf4;
	border-bottom: 2px solid #3a9a95;
}
.modal-button-website:hover {
	background: #2a8a85;
}
.modal-button-app-store {
	color: #f4f4f4;
	background: #f47e7e;
	border: solid 0 #e3edf4;
	border-bottom: 2px solid #e76969;
}
.modal-button-app-store:hover {
	cursor: default !important;
	/*background: #e05d5d;*/
}
/* Responsive styles */
@media screen and (min-height: 1000px) {
	.modal-title {
		font-size: 50px;
	}
	.modal-description {
		font-size: 20px;
	}
	.modal-button {
		font-size: 22px;
	}
	.modal-image-arrow {
		font-size: 30px;
		top: 60%;
	}
	.modal-thumbnail-wrapper {
		height: 400px;
		width: 60vw;
	}
	.modal-thumbnail {
		height: 400px;
		width: 60vw;
	}
	.modal-thumbnail-wrapper-tall {
		height: 40vh;
	}
	.modal-thumbnail-tall {
		height: 40vh;
		width: 25vw;
	}
	.close-modal {
		font-size: 20px;
	}
}
/* Cap the width of modal for very wide screens */
@media screen and (min-width: 1300px) {
	#project-modal {
		width: 1100px;
	}
	.modal-thumbnail-wrapper {
		width: 780px;
	}
	.modal-thumbnail {
		width: 780px;
	}
}
@media screen and (max-height: 750px) {
	.modal {
		top: 5vh;
	}
}
@media screen and (max-height: 700px) {
	.modal {
		top: 2.5vh;
	}
	.modal-title {
		font-size: 35px;
	}
	.modal-description {
		font-size: 16px;
	}
	#hackroulette-modal-description {
		font-size: 15px;
	}
	#noflix-modal-description {
		font-size: 15px;
	}
	.modal-thumbnail-wrapper {
		height: 270px;
	}
	.modal-thumbnail {
		height: 270px;
	}
	.modal-thumbnail-tall {
		height: 250px;
		width: 400px;
	}
	.modal-button {
		font-size: 18px;
	}
}
/*  ============================= 
	========= Main Site ========= 
	=============================  */
#loader {
	position:fixed;
	height:100vh;
	width:100vw;
	background:#0B1723;
	text-align:center;
	linear-gradient(-40deg,#222,transparent,#111), 
	linear-gradient(40deg,#222,transparent,#111), 
	linear-gradient(-40deg,#222,transparent,#111),
	linear-gradient(40deg,#222,transparent,#111)
	;
	background-size:300%;
	background-position:center;
}

#loading {
	position: fixed;
	top: 50%;
	left:50%;	
	/*background-color: #72E4E4;*/
	animation: grow 5s ease-in-out forwards;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}
#loading-text {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 50px;
	color: #fff;
	position: fixed;
	top: 75%;
	left: 50%;;
	transform: translate(-50%, -50%);
}
#loader-circle {
	position: fixed;
	top: 50%;
	left:50%;
	height:200px;
	width:200px;
	background: #1F1F1F;
	/*box-shadow: 0 0 50px gold,0 0 150px gold, inset 0 20px 20px 40px whitesmoke, inset 30px 0 35px 50px ivory;*/
	/*box-shadow: 15px 15px 50px #00F6FF,0 0 150px #00BDFF, 0px 0px 50px #00F6FF; */
	box-shadow: 15px 15px 50px #00F6FF,0 0 150px #00BDFF, 0px 0px 50px #00F6FF inset, 0px 0px 50px #00F6FF inset;
	animation: rotate 2s linear infinite;
	/*animation: grow 2s forwards;*/
	display:block;
	border-radius:50%;
	margin-left:-100px;
	margin-top:-100px;
}

/*#loader:hover,#loader-circle:hover {background-color:#123;transition:1s;}*/


/*  ============================= 
	========= SECTION 0 ========= 
	=============================  */
#section-0 {
	background: url(../images/stars.jpg) no-repeat center center; 
	background-size: cover;
	background-color: #000;
	position: relative;
	text-align: center;
	height: 100vh;
}
#nav-bar {
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: #ECECEC;
	border-bottom: 4px solid #aaa;
	z-index: 1;
}
#nav-bar > ul {
	margin: 0;
}
.list-item {
	display         : inline;
	list-style-type : none;
	padding         : 0 5% 0 0;
	font-family     : 'Arvo', Georgia, Times, serif;
	font-size       : 25px;
	line-height     : 70px;
}
#welcome {
	padding-top: 20px;
}
.site-header {
	font-family: 'Lato', serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 9em;
	margin: 0;
}
#welcome-caption {
	font-family: 'Lora', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #fff;
	margin: 0 auto;
	width: 66%;
	line-height: 25px;
	padding-bottom:20px;
}
#profile-picture { 
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
	background: url("../images/juggling.jpg"); 
    background-size: cover;
    background-position: 0px -76px;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	margin: 10px auto;
	-webkit-filter: grayscale(60%);
	box-shadow: inset 0 0 0 2px #484848;
}
#profile-button-wrapper {
	width: 100%;
	position: absolute;
	bottom: 5vh;
}
.profile-button {
	display: inline-block;
	margin: 50px 50px 0 50px;
	z-index: 3;
}
.profile-button-icon {
	border-radius: 50%;
	color: #e3e0cf;
	float: left;
	background-color: #484848;
	line-height: 4em;
	width: 4em;
	font-size: 36px;
	height: 4em;
	text-align: center;
	transition: .3s ease-out;
}
.profile-button-icon:hover {
	color: #484848;
	background-color: #e3e0cf;
	cursor: pointer;
}
/* Responsive styles */
@media screen and (max-height: 1090px) {
	#profile-picture {
		height: 350px;
		width: 350px;
	}
	.profile-button {
		margin-top: 40px;
	}
	.profile-button-icon {
		line-height: 130px;
		width: 130px;
		font-size: 30px;
		height: 130px;
	}
	.site-header {
		font-size: 120px;
	}
}
@media screen and (max-height: 950px) {
	#profile-picture {
		height: 320px;
		width: 320px;
		background-position: 0px -68px;
	}
	.profile-button {
		margin-top: 35px;
	}
	.profile-button-icon {
		line-height: 110px;
		width: 110px;
		font-size: 24px;
		height: 110px;
	}
	.site-header {
		font-size: 100px;
	}
}
@media screen and (max-height: 820px) {
	#profile-picture {
		height: 310px;
		width: 310px;
		background-position: 0px -55px;
	}
	.profile-button {
		margin-top: 0;
	}
	.profile-button-icon {
	    line-height: 100px;
	    width: 100px;
	    font-size: 24px;
	    height: 100px;
	}
	.site-header {
	    font-size: 100px;
	    line-height: 120px;
	}
}
@media screen and (max-height: 720px) {
	#welcome {
		padding-top: 0;
	}
	#profile-picture {
		height: 300px;
		width: 300px;
		top: 58%;
		background-position: 0px -47px;
		box-shadow: inset 0 0 0 2px #484848;
	}
	.profile-button {
		margin-top: 10px;
	}
	.profile-button-icon {
	    line-height: 90px;
	    width: 90px;
	    font-size: 24px;
	    height: 90px;
	}
	.site-header {
	    font-size: 90px;
	    line-height: 100px;
	}
}
/* We don't want to support any smaller screens, use a fixed height*/
@media screen and (max-height: 630px) {
	#profile-picture {
		height: 270px;
		width: 270px;
	}
}
/* We don't want to support any smaller screens, use a fixed height*/
@media screen and (max-height: 600px) {
	#section-0 {
		height: 600px;
	}
}
/*  ============================= 
	========= SECTION 1 ========= 
	=============================  */
#section-1 {
	text-align: center;
	color: #fff;
}
#intro-container {
	padding-bottom: 50px;
	border-bottom: 2px solid #CACACA;
	box-sizing: border-box;
}
#intro-header {
	font-family: 'Kalam', 'Helvetica', sans-serif;
	font-size: 80px;
	font-weight: 300;
	margin-top: 50px;
	margin-bottom: 0;
}
.intro-description {
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}
#slideshow {
	position: relative;
	height: 350px;
	width: 60%;
	margin: 0 auto;
}
.intro-description-photo {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-size: cover;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
#intro-description-photo-1 {
	background-image: url("../images/seas-the-night.jpg");
}
#intro-description-photo-2 {
	background-image: url("../images/startup-weekend.jpg");
}
#intro-description-photo-3 {
	background-image: url("../images/quebec.jpg");
}
/* Responsive styles */
@media screen and (min-width: 1000px), screen and (min-width: 1000px) {
	#intro-header {
		font-size: 110px;
	}
}
@media (max-width: 700px) {
	#intro-header {
		font-size: 70px;
	}
}
/*  ============================= 
	========= SECTION 2 ========= 
	=============================  */
#javascript-meme {
	background-image: url("../images/javascript.jpg");
	background-size: cover;
	width: 600px;
    height: 300px;
	border-radius: 4px;
}
#python-meme {
	background-image: url("../images/python-meme.png");
	background-size: cover;
	width: 600px;
	height: 400px;
	margin-top: 22px;
	border-radius: 4px;
}
#section-2 {
	padding-bottom: 50px;
	text-align: center;
	color: #fff;
}
#skills-header {
	font-family: 'Lobster', Georgia, Times, serif;
	padding-bottom: 5px;
	margin-top: 50px;
	margin-bottom: 15px;
}    
#skills-list {
	width: 90%;
    margin: 0 auto;
    padding: 0;
}
.skill {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	background-color: #444D54;
	margin: 10px;
	padding: 5px 10px;
	border: 0px solid #2F576B;
	border-radius: 4px;
	text-shadow: 1px 1px 0px rgba(34,34,34,0.2);
	list-style-type: none;
	transition: background-color 0.3s ease-in-out;
}
.skill:hover {
	background-color: #9FAEBD;
	cursor: pointer;
}
.skill-selected {
	background-color: #569E80;
}
.skill-selected:hover {
	background-color: #5ED4A3;
}
#skill-type {
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	background-color: #569E80;
	padding: 5px 10px;
	border: 0px solid #2F576B;
	border-radius: 4px;
	text-shadow: 1px 1px 0px rgba(34,34,34,0.2);
	margin-bottom: 0;
}
#skill-details {
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
}
.skill-details-list {
	margin: 15px 0px;
}
.skill-toggle-list {
	color: #569E80;
}
.skill-toggle-list:hover {
	color: #5ED4A3;
	cursor: pointer;
}
.skill-details-list > li > span:hover {
	color: #A6FFDA;
	cursor: pointer;
}
.skill-details-list-link {
	color: #fff;
	text-decoration: none;
}
.skill-details-list-link:hover {
	color: #A6FFDA;
}
/* Responsive styles */
@media (min-height: 1000px) {
	.skill {
		font-size: 22px;
	}
}
@media (max-height: 700px) {
	.skill {
		font-size: 18px;
	}
	#skill-details {
		font-size: 18px;
	}
	#skill-type {
		font-size: 20px;
	}
}
/*  ============================= 
	========= SECTION 3 ========= 
	=============================  */
#section-3 {
	background-image: url("../images/mountain.jpg");
	background-size: cover;
	text-align: center;
	padding: 50px 0;
}
#projects-header {
	font-family: 'Lobster', Georgia, Times, serif;
	text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 15px;
	color: #222;
}
#projects-wrapper {
	text-align: center;
}
.project {
	display: inline-block;
	background-color: #888;
	height: 300px;
	width: 300px;
	box-sizing: border-box;
	border: 1px solid #fff;
	margin: 10px;
}
.black-overlay {
	width: 100%;
	height: 100%;
	position: relative;
    transition: all 0.25s ease-out;
}
.project:hover > .black-overlay {
	background: rgba(33,33,33,0.8);
	cursor: pointer;
}
.project-details-wrapper {
	width: 100%;
	padding: 10px;
	position: absolute;
	margin-top: 20px;
	top: 50%;
	opacity: 0;
	transform: translateY(-50%);
	box-sizing: border-box;
	transition: margin-top .35s ease-out, opacity .5s ease-out;
}
.project:hover .project-details-wrapper {
	margin-top: 0px;
	opacity: 1;
}
.project-title {
	font-family: 'Arvo', serif;
	font-size: 40px;
	color: #ECECEC;
	margin: 0;
	width: 100%;
}
.project-description {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #ECECEC;
}
#hackroulette {
	background: url("../images/projects/hackroulette.jpg") no-repeat center center;
	background-size: cover;
}
#python-compiler {
	background: url("../images/projects/python-compiler.jpg") no-repeat center center;
	background-size: cover;
}
#noflix {
	background: url("../images/projects/noflix.jpg") no-repeat center center;
	background-size: cover;
}
#infinitefilespace {
	background: url("../images/projects/infinitefilespace.png") no-repeat center center;
	background-size: cover;
}
#indoor-navigator {
	background: url("../images/projects/indoor-navigator.jpg") no-repeat center center;
	background-size: cover;
}

/*#hackroulette-title {
	opacity: 0;
	transition: 1s ease-in-out;
}

#hackroulette:hover > #hackroulette-title {
	opacity: 1;
}*/
/* Responsive Styles */
@media (min-width: 1200px) {
	.project {
		height: 350px;
		width: 350px;
	}
	.project-title {
		font-size: 40px;
	}
	.project-description {
		font-size: 20px;
	}
}
/*  ============================= 
	========= SECTION 4 ========= 
	=============================  */
#section-4 {
	padding: 50px 0;
	color: #fff;
}
#workplace-header {
	font-family: 'Lobster', Georgia, Times, serif;
	text-align: center;
	color: #fff;
	margin: 0;
}
.workplace {
	padding: 15px;
	border-radius: 10px;
	transition: box-shadow 0.3s ease-in-out;
}
.workplace:hover {
/*	-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);*/
}
.work-title {
	font-family: 'Arvo', serif;
	font-size: 35px;
	margin: 0;
}
.work-evaluation {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 300;
	margin: 10px 0;
}
.work-description {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-style: italic;
	margin: 15px 0;
}
.work-achievements {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 300;
	margin: 0;
}
.work-achievements > li {
	padding: 5px 0;
}
.work-img {
	height: 50px;
}



